[submodule "deps/strict-object"]
	path = deps/strict-object
	url = https://github.com/danielbeardsley/strict-object
[submodule "deps/dozuki-js"]
	path = deps/dozuki-js
	url = https://github.com/danielbeardsley/dozuki-js
[submodule "deps/QuoJS"]
	path = deps/QuoJS
	url = https://github.com/soyjavi/QuoJS
[submodule "deps/underscore"]
	path = deps/underscore
	url = https://github.com/jashkenas/underscore
